<!doctype html> {% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Css Style -->
    <link rel="stylesheet" href="{% static 'authenticate/css/main.css' %}" type="text/css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Font Link-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">



</head>

<body id="bg">


    <!--main nav bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-navbar">
        <div class="container-fluid">
            <a><img id="header_image" href="{% url 'home' %}" src="{% static 'authenticate/images/Sri_Lanka_Police_logo.svgnew1.png' %}" width="85" alt="" class="d-inline-block align-middle mr-2"></a>
            <!-- <a class="navbar-brand" href="{% url 'home' %}">
                <span>hello, {{user.username}}</span>
            </a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link " aria-current="page" href="{% url 'home' %}">Home</a>
                    <a class="nav-link" href="#">News</a>
                    <a class="nav-link" href="#">Contact</a>
                    <a class="nav-link" href="#">DOWNLOADS</a>
                    <a class="nav-link" href="#">About</a>
                    <a id="logout-btn" class="btn" href="{% url 'logout' %}" type="submit">Logout</a>
                </div>

            </div>
        </div>
    </nav>
    <br>
    <div class="container-fluid">
        <div>
            {% if messages %} {% for message in messages %}
            <div class="alert alert-{{message.tags}}">{{message}}</div>
            {% endfor %} {% endif %}
        </div>
        {% block content %} {% endblock content %}
    </div>
    <!--Footer-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h4>Srilanka.gov.lk</h4>
                    <p>Authorised by the Sri Lanka govrment,<br>Colombo
                    </p>
                </div>
                <div class="col-4">
                    <p>Coronavirus Health Information Line 1830</p>
                    <p>Business Help Hotline 14 28 06</p>
                    <p>Consular Assistance Call +941 12 6261 330 / +941 12 6261 330 </p>
                    <p>The Sri Lanka Government acknowledges the traditional owners and custodians of country throughout Sri Lanka and acknowledges their continuing connection to land, waters and community. We pay our respects to the people, the cultures
                        and the elders past, present and emerging.</p>
                </div>
                <div class="col-4">
                    <h4>Follow us</h4>
                    <br>
                    <div id="socila" class="social-media">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <center>
                <h6>&copy; 2022 kobzpik inc. All Right Reserved</h6>
            </center>


        </div>
    </footer>

    <!--Session expire-->
    <div>
        <div id="timer"></div>
    </div>

    <!--script>
        var timer = document.getElementById("timer");
        var duration = 300;

        setInterval(updateTimer, 300);

        function updateTimer() {
            duration--;
            timer = duration;
            if (duration < 1) {
                alert("Your session has expired.\n You will be redirected to the home page");
                window.location = "{% url 'logout'  %}"
            } else {
                timer = duration;
            }
        }

        window.addEventListener("mousemove", resetTimer);

        function resetTimer() {
            duration = 300;
        }
    </script-->



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  -->
    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>



</body>

</html>