{% extends 'authenticate/base_profile.htm' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
    <br>
    <!--card-->
    <div class="row">
        <div class="col-4">
            <div id="link_card" class="card">
                <div class="row">
                    <div class="col-3">
                        <a id="card-a" href="{% url 'fine_add' %}"><i id="link_logo" class="fa fa-first-order"></i></a>
                    </div>
                    <div class="col-9">
                        <br>
                        <a id="card-a" href="{% url 'fine_add' %}">
                            <h5 id="link_h">New Fine</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="link_card" class="card">
                <div class="row">
                    <div class="col-3">
                        <a id="card-a" href="{% url 'driver_info' %}"><i id="link_logo" class="fa fa-first-order"></i></a>
                    </div>
                    <div class="col-9">
                        <br>
                        <a id="card-a" href="{% url 'driver_info' %}">
                            <h5 id="link_h">Driver info</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="link_card" class="card">
                <div class="row">
                    <div class="col-3">
                        <a id="card-a" href="{% url 'officer_register' %}"><i id="link_logo" class="fa fa-first-order"></i></a>
                    </div>
                    <div class="col-9">
                        <br>
                        <a id="card-a" href="{% url 'officer_register' %}">
                            <h5 id="link_h">Report accident</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}