{% extends 'authenticate/base_profile.htm' %} {% load crispy_forms_tags %}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'driver/css/style.css' %}">
<div class="container-fluid">
    <script src="https://js.stripe.com/v3/"></script>

    <div class="row">
        <div class="card card-body">
            <table class="table table-light table-striped table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">Fine id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Police station</th>
                        <th scope="col">Nature of offence</th>
                        <th scope="col">Amount(Rs)</th>
                        <th scope="col">Status</th>
                        <th scope="col">Pay</th>
                    </tr>
                </thead>
                {% for fines in fined %}
                <tbody>
                    <tr>
                        <th scope="row">{{fines.id}}</th>
                        <td>{{fines.date}}</td>
                        <td>{{fines.Police_station}}</td>
                        <td>{{fines.Nature_of_Offence}}</td>
                        <td>1000</td>
                        <td>Pending</td>
                        <td><button type="button" class="btn btn-sm " id="checkout-button">Checkout</button></td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('pk_test_51KZz5nBmsmvppl44Pg71CIe35Vgz2v8T2VdN8GQdBGlRiJF7okLKaBiU6igsXC48S3V9ksf8FBpxbGVnjtNBfsou005OLqULXS');
        var checkoutButton = document.getElementById('checkout-button');

        checkoutButton.addEventListener('click', function() {
            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            fetch('create-checkout-session/', {
                    method: 'POST',
                })
                .then(function(response) {
                    return response.json();
                })
                .then(function(session) {
                    return stripe.redirectToCheckout({
                        sessionId: session.id
                    });
                })
                .then(function(result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
        });
    </script>
    {% endblock %}