 {% extends 'authenticate/base.htm' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<br>
<div class="container-fluid">
    <!--Profile-->

    <div class="card card-body">

        <div class="row">
            <h5>Name: {{user.username}}</h5>
            <hr>
            <div class="col-4">
                <img src="{% static 'driver/images/profile.png' %}" class="d-block w-75" alt="profile img">
            </div>
            <div class="col-8">
                <h6>Driver license No: {{finedh.driver_license_No}}</h6>
                <h6>First Name: {{user.first_name}}</h6>
                <h6>Last Name: {{user.last_name}}</h6>
            </div>

        </div>
    </div>
    <br>
    <!--offence tabel-->
    <h5>Fine list</h5>
    <div class="row">
        <div class="card card-body">
            <table class="table table-light table-striped table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">Fine id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Police station</th>
                        <th scope="col">Nature of offence</th>
                        <th scope="col">District</th>
                        <th scope="col">Location</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                {% for fines in fined %}
                <tbody>
                    <tr>
                        <th scope="row">{{fines.id}}</th>
                        <td>{{fines.date}}</td>
                        <td>{{fines.time}}</td>
                        <td>{{fines.Police_station}}</td>
                        <td>{{fines.Nature_of_Offence}}</td>
                        <td>{{fines.district}}</td>
                        <td>{{fines.location}}</td>
                        <td>Pending</td>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

</div>

{% endblock %}