{% extends 'authenticate/base_profile.htm' %} {% load crispy_forms_tags %}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'driver/css/style.css' %}">
<div class="container">
    <br>

    <!--card-->
    <div class="row">
        <div class="col-4">
            <div id="link_card" class="card">
                <div class="row">
                    <div class="col-3">
                        <a id="card-a" href="{% url 'payment' user.id %}"><i id="link_logo" class="fa fa-first-order"></i></a>
                    </div>
                    <div class="col-9">
                        <br>
                        <a id="card-a" href="{% url 'payment' user.id %}">
                            <h5 id="link_h">Payment</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div id="link_card" class="card">

                <div class="row">
                    <div class="col-3">
                        <a id="card-a" href="{% url 'fine_list' user.id  %}"><i id="link_logo" class="fa fa-first-order"></i></a>
                    </div>
                    <div class="col-9">
                        <br> {% for st in fines %}
                        <a id="card-a" href="{% url 'fine_list' user.id  %}">
                            {% endfor %}
                            <h5 id="link_h">Profile</h5>
                        </a>
                        <!--br> {% for st in fines %}
                        <a id="card-a" href="{% url 'fine_list' user.id  %}">
                            {% endfor %}
                            <h5 id="link_h">View offence</h5>
                        </a-->
                    </div>
                </div>

            </div>
        </div>
        <div class="col-4">
            <div id="link_card" class="card">
                <div class="row">
                    <div class="col-3">
                        <a id="card-a" href="{% url 'complain'  %}"><i id="link_logo" class="fa fa-first-order"></i></a>
                    </div>
                    <div class="col-9">
                        <br>
                        <a id="card-a" href="{% url 'complain'  %}">
                            <h5 id="link_h">Complain</h5>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}