{% extends 'authenticate/base_sub1.htm' %} {% load crispy_forms_tags %}{% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'driver/css/style.css' %}">
<div class="container-fluid">
    <div id="check" class="box">
        <img id="succes-icon" src="{% static 'driver/images/check.png' %}">
        <h3>Payment Successful</h3>
        <p>Thank you for your payment!</p>
        <p> If you have any questions, please let us know through emails.</p>
        <a id="ok-btn" class="btn" href="{% url 'payment' user.id  %}" type="submit">OK</a>
        <br>
        <br>
    </div>
</div>
{% endblock %}