{% extends 'authenticate/base.htm' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<br>

<div class="my-3">
    <h1>Dashboard</h1>
</div><br/>

<!--iframe width="1024" height="612" src="https://app.powerbi.com/reportEmbed?reportId=2f4e9465-8626-4e8f-bd54-ee73d93692ea&autoAuth=true&ctid=49211f0f-e082-499f-94fb-96dff1601a14&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWVhc3QtYXNpYS1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" frameborder="0" allowFullScreen="true"></iframe><br/><br/-->
<iframe title="test_vulcan - Page 1" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=2f4e9465-8626-4e8f-bd54-ee73d93692ea&autoAuth=true&ctid=49211f0f-e082-499f-94fb-96dff1601a14&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWVhc3QtYXNpYS1hLXByaW1hcnktcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"
    frameborder="0" allowFullScreen="true"></iframe>
</div>



{% endblock %}